<h1 align="center">Détails d'un provider</h1>

<div class="mb-3 row">
  <label for="providerName" class="col-sm-2 col-form-label">ID</label>
  <div class="col-sm-10">
      <input [(ngModel)]="id" type="text" class="form-control" id="providerId" disabled>
  </div>
</div>

<div class="mb-3 row">
    <label for="providerName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input [(ngModel)]="name" type="text" class="form-control" id="providerName" disabled>
    </div>
</div>

<div class="mb-3 row">
    <label for="providerEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input [(ngModel)]="email" type="text" class="form-control" id="providerEmail" disabled>
    </div>
</div>

<div class="mb-3 row">
    <label for="providerAddress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <input [(ngModel)]="address" type="text" class="form-control" id="providerAddress" disabled>
    </div>
</div>

<div style="margin-left:80%">
    <div class="row">
        <div class="col-sm-4">
            <button class="form-control btn btn-success" (click)="retourSurListeProviders()">Retour</button>
        </div>
    </div>
</div>
